.header {
    background-color: var(--dark-blue) !important;

    a,
    .navbar-toggler.collapsed,
    .navbar-toggler-icon {
        color: white !important;
        font-family: var(--primary-font) !important;

    }

}

