:root {
    --primary-purple: #A020F0 !important;
    --primary-font: "Rock Salt", cursive;
    /* Atualize a variável */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: black !important;
    color: white !important;
    font-family: var(--primary-font);
    /* Aplique a fonte */
    letter-spacing: 2px;
}