.footer {
    margin: 0;
    padding: 20px 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--dark-blue) !important;
    color: white;
    font-family: var(--primary-font) !important;
}

.stickyFooter {
    position: absolute;
}

.footerImage {
    max-width: 35px;
    height: auto;
    margin-left: 15px;
}

.imagesContainer {
    display: flex;
    align-items: center;
}

.footerText {
    text-align: center;
    margin-left: 60% !important;
    text-wrap: nowrap !important;
}