.footer {
    margin: 0;
    padding: 20px 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    /* Garante que o footer ocupe toda a largura */
    background-color: var(--primary-purple) !important;
    color: white;
    font-family: var(--primary-font) !important;
}

/* Opcional: Adicione estilos para o contêiner principal para garantir altura mínima */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

.stickyFooter {
    position: absolute;
}

.absoluteFooter {
    position: absolute;
}